*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(59, 198, 182, 0.9);
    position: sticky;
    top: 0;

}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;

}
.navbar ul li{
    font-family: century;
    font-size: 1.1res;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
    
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px black;
}
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;

}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('coding1.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    color: white;
    outline: none;
    transition: .6s ease;

}
.btn:hover{
    cursor: pointer;
    background-color: turquoise;
    color: black;
    box-shadow: 0 0 5px turquoise, 0 0 10px turquoise, 0 0 15px turquoise;
    font-weight: bold;

}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #F18C8E;
    
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    background-color: #568EA6;
    text-align: justify;
    padding: 10px;

}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;

}
/* Portfolio Section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: #41766f;
    color: white;
    align-items: center;
    padding: 20px;
    
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    color: black;
    background-color: rgba(205, 220, 57, 0.7);
}
.row{
    display: flex;

}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgba(158, 45, 45)50%, #F9A0A3 50%);
    background-size: 100% 200%;
    transition: all .8s;

}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px #011946;
}
.box img{
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
}

/* Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #022D5F;
    color: white;
    padding: 20px;
}
#contact a{
    display: flex;
    flex-direction: column;
    background-color: #F68E92;
    text-align: justify;
    padding: 10px;
    align-items: center;


}

#video{
    display: flex;
    flex-direction: column;
    background-color: #011946;
    color: white;
    align-items: center;
    padding: 20px;
    
    
}